/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-image: url("../public/images/red_background.jpg");
	background-size: cover;
	background-position: center center;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;

	font-family: "Poppins", sans-serif;
	margin: 0;
}

h1 {
	/* border: 1px black solid; */
	margin-top: -6rem; /* position adjstment */
	font-size: 4rem;
	text-align: center;
}

.page-container {
	border: white solid 1px;
}

.countdown-container {
  border: white dashed 1px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.big-text {
	font-weight: bold;
	font-size: 6rem;
	line-height: 1;
	margin: 0 2rem;
}

.countdown-element {
	border: 1px black solid;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.countdown-element span {
	font-size: 1.2rem;
}

/* Removing arrows in the number input field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input {
	text-align: center;
}
